<!-- The Analysis interface -->
<turbo-frame id="chat" class="flex flex-col h-full overflow-auto">
  <div id="messages" class="px-4 flex-grow overflow-auto" data-reset-form-target="messages">

    <div class="my-4 p-4 border-2 border-black bg-sky-100 rounded-lg min-w-full">
      <p class="text-base">
        <strong>What is the main point of the paper?</strong><br>
        <%= analysis.summary_1 %>
      </p>
    </div>

    <div class="my-4 p-4 border-2 border-black bg-sky-100 rounded-lg min-w-full">
      <p class="text-base">
        <strong>What are the main findings of the paper?</strong><br>
        <%= analysis.summary_2 %>
      </p>
    </div>

    <div class="my-4 p-4 border-2 border-black bg-sky-100 rounded-lg min-w-full">
      <p class="text-base">
        <strong>What are the main contributions of the paper?</strong><br>
        <%= analysis.summary_3 %>
      </p>
    </div>

    <div class="my-4 p-4 border-2 border-black bg-sky-100 rounded-lg min-w-full">
      <p class="text-base">
        <strong>What are the main limitations of the paper?</strong><br>
        <%= analysis.summary_4 %>
      </p>
    </div>

  </div>
</turbo-frame>
