<div class="flex flex-row h-screen">
  <!-- Display the PDF preview -->
  <div class="w-1/2 h-full overflow-auto">
    <embed src="<%= url_for(@paper.pdf) %>" width="100%" height="100%" type='application/pdf'>
  </div>

  <!-- Display the navbar and main features -->
  <div class="w-1/2 h-full flex flex-col" data-controller="reset-form switch_feature">
    <div class="container mx-auto px-8 py-8">
      <%= render 'layouts/navbar' %>
    </div>

    <%= render 'messages/chat_interface', chat: @chat, message: @message %>
  </div>
</div>
